<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portifólio</title>
</head>
<body>
    <header>
        <div class="container-header">
            <div class="titulo">
                <h1>Portifólio</h1>
            </div>
            <nav class="navegacao">
                <button *ngIf="isMobile && !navVisible" class="nav-toggle" (click)="toggleNav()">Menu</button>
                <ul *ngIf="!isMobile || navVisible" class="nav-list">
                  <li><a href="#">Início</a></li>
                  <li><a href="#">Sobre mim</a></li>
                  <li><a href="#">Habilidades</a></li>
                  <li><a href="#">Conquistas</a></li>
                  <li><a href="#">Projetos</a></li>
                  <li><a href="#">Contato</a></li>
                </ul>
              </nav>              
        </div>
    </header>

    <main class="container">
        <div id="titulo">
            <h3>desenvolvedor </h3>
            <h1>thiago bueno</h1>
            <p>gosto muito de homens</p>
        </div>
        <div id="imagem-programador">
            <img  id="img-progamador" src="./image/3426526-1024x1024.jpg" alt="imagem de programador" style="height: 20px; width:20px;">
        </div>
    </main>
    
    <footer>
        <p>&copy; 2024 Thiago Bueno</p>
    </footer>
</body>
</html>